html {
  font-size: 10px;
  background: url("./background.jpeg") bottom center;
  background-size: cover;
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.options {
  display: flex;
  flex-direction: column;
  min-height: 20vh;
  font-size: 3rem;
  justify-content: center;
  align-items: center;
}

.choice {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 12rem;
  width: 24rem;
  margin: auto;
  color: aliceblue;
  border-radius: 1rem;
  background-color: rgba(0, 0, 0, 0.8);
}

#choose {
  height: 20px;
  width: 60%;
  margin-top: 1rem;
}

.keys {
  display: flex;
  flex: 1;
  min-height: 80vh;
  align-items: center;
  justify-content: center;
}

.key {
  border: 0.2rem solid black;
  border-radius: 0.5rem;
  margin: 1.2rem;
  font-size: 1.5rem;
  padding: 1rem 0.5rem;
  transition: all 0.07s ease;
  width: 10rem;
  text-align: center;
  color: white;
  background: rgba(0, 0, 0, 0.8);
  text-shadow: 0 0 0.5rem black;
}

.playing {
  transform: scale(1.1);
  border-color: #ffc600;
  box-shadow: 0 0 1rem #ffc600;
}

kbd {
  display: block;
  font-size: 4rem;
}

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: #ffc600;
}
